/* the whole body is draggable */
body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow:hidden;
}

button{
    /* clickable */
    -webkit-app-region: no-drag;
    /* make sure buttons are not covered by other elements */
    z-index: 10;
}

#mainDiv{
    -webkit-app-region: drag;

    background: url(resources/background.png) no-repeat;
    background-size: 100%, 100%;

    /* make this div the same size as current window */
    position: absolute;
    width: 100%;
    height: 100%;
}

.invisible{
    color: Transparent;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

/**
 * control panel
 **/
#controlDiv{
    /* make width relative to its parent, so that float will work */
    position: absolute;
    /* make this div full size so that percentage positioning for its children will work*/
    width: 100%;
    height: 100%;
}
#closeBtn{
    display: block;
    position: relative;
    left: 70%;
    top: 13%;
    width: 5%;
}
#minimizeBtn{
    display: block;
    position: relative;
    left: 71.5%;
    top: 13%;
    width: 5%;
}

/**
 * count down panel
 **/
#timerDiv{
    position: absolute;
    width: 100%;
    height: 100%;
}
#timerTime{
    display: block;
    position: relative;
    left: 15%;
    top: 35%;

    font-size: 1.2em;
}
#timerBtn{
    display: block;
    position: relative;
    left: 45%;
    top: 18%;
    width: 20%;
    height: 18%;

    background-color: bisque;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
    box-shadow: 0 4px #999;
}
#timerBtn > img{
    position:absolute;
    left: 0%;
    top: 0%;
    width: 100%;
}
#timerBtn:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}
#timerBtn:focus {
    outline:0;
}