/* the whole body is draggable */
body{
    -webkit-app-region: drag;
}

/* background image keeps the whole application have a reasonable size*/
#background{
    z-index: -200;
}
#backgroundImg{
    width: 100%;
}

#countDownDiv{
    position: fixed;
    left: 0px; /* even 0 need to be specified */
    top: 0px; /* for fixed and absolute, the default value for left and top are not 0 */
}

#countDownTime{
    position: absolute;
    left: 125px;
    top: 56px;
}

#countDownBtn{
    -webkit-app-region: no-drag;

    position: absolute;
    left: 200px;
    top: 50px;

    background-color: bisque;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
}
#countDownBtn > img{
    width: 50px;
}
#countDownBtn:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}
#countDownBtn:focus {
    outline:0;
}