/* the whole body is draggable */
body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow:hidden;
}

#mainDiv{
    -webkit-app-region: drag;

    background: url(./resources/background.png) no-repeat;
    background-size: 100%, 100%;

    /* make this div the same size as current window */
    position: absolute;
    width: 100%;
    height: 100%;
}

.horizon-splitter{
    clear: both;
}

.invisible{
    color: Transparent;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

/**
 * control panel
 **/
#controlDiv{
    /* make width relative to its parent, so that float right will work */
    position: absolute;
    width: 100%;
}
#closeBtn{
    float: right;
    position: relative;
    right: 83px;
    top: 15px;
}
#minimizeBtn{
    float: left;
    position: relative;
    left: 67px;
    top: 107px;
}

/**
 * count down panel
 **/
#countDownDiv{
    position: absolute;
    width: 100%;
    top: 60px;
}
#countDownTime{
    float: left;
    margin-left: 170px;
    margin-top: 5px;

    font-size: 1.2em;
}
#countDownBtn{
    -webkit-app-region: no-drag;
    float: right;
    margin-right: 90px;

    background-color: bisque;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
}
#countDownBtn > img{
    width: 50px;
}
#countDownBtn:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}
#countDownBtn:focus {
    outline:0;
}